.container {
    display: grid;
    gap: 1ch;
    position: relative;
    color: var(--color-main);
    background: transparent;
    width: 100%;

    --c-border: var(--color-main);
    --c-text: var(--color-main);
    --c-outline: var(--color-main);
}

.input {
    color: var(--c-text);
    border: 1px solid var(--c-border);
    padding: 0.625rem 1rem;
    font-size: 1rem;
    width: 100%;
    background: transparent;
}

.input:invalid {
    --c-border: var(--color-invalid);
    --c-text: var(--color-invalid);
    --c-outline: var(--color-invalid);
}

.input:is(:disabled, :read-only) {
    opacity: 0.5;
}

.input:is(:focus, :focus-visible) {
    outline: 2px solid var(--c-outline);
    outline-offset: 2px;
}

.input::placeholder {
    opacity: 0.4
}

.label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    color: var(--c-text);
    font-weight: 500;
}