.skills {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.75rem;
}

.skillNames {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    padding-right: 0.75rem;
}

.skillValues {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    width: 100%;
}

.skillName {
    text-align: right;
}

.skillValue {
    margin-top: 0.05rem;
}

.header {
    padding-bottom: 1.125rem;
}

.button {
    float: right;
    margin-right: -0.75rem;
    margin-top: -0.625rem;
    margin-bottom: -0.625rem;
}