:root {
  --color-main: #fff;
  --color-background: #070606;
  --color-secondary: #515151;
  --color-link: #0066FF;
  --color-link-visited: #7B00F6;
  --color-invalid: #FB2A2A;
  --color-success: #2CFE10;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-main);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  font-family: var(--font-main);
  color: var(--color-main);
  background: var(--color-background);
}

@media screen and (min-width: 570px) {
  html,
  body {
    font-size: 18px;
  }
}

@media screen and (min-width: 870px) {
  html,
  body {
    font-size: 20px;
  }
}