.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0.5rem;
}

.text {
    position: relative;
    height: 100px;
    overflow: hidden;
}

.text p + p {
    padding-top: 0.5rem;
}

.textCollapsed::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    width: 100%;
    background: linear-gradient(0deg, var(--color-background) 0%, transparent 100%);
    ;
}
.textPreExpand::after {
    background: linear-gradient(0deg, var(--color-background) 0%, transparent 50%);
}

.textExpanded {
    height: auto;
}

.button {
    margin-right: -0.75rem;
    margin-left: auto;
}

@media screen and (min-width: 870px) {
    .button {
        font-size: 0.9rem;
    }
}