.container {
    display: flex;
    flex-direction: column;
}

.header {
    padding-bottom: 1.125rem;
}

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem
}

.skill {
    flex-basis: 45%;
}

@media screen and (min-width: 430px) {
    .skill {
        flex-basis: 25%;
    }
}

@media screen and (min-width: 570px) {
    .skill {
        flex-basis: 20%;
    }
}